<div class="shell">
 	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" [class.active]="currentTab === 1" (click)="tabChanged(1)">
			<a href="#filtery" aria-controls="group1" role="tab" data-toggle="tab">Filtery</a>
		</li>
		
		<li role="presentation" [class.active]="currentTab === 2" (click)="tabChanged(2)">
			<a href="#histOrga" aria-controls="group2" role="tab" data-toggle="tab">HistOrga</a>
		</li>
    
    <li role="presentation"  [class.active]="currentTab === 3" (click)="tabChanged(3)">
			<a href="#achievementBadge" aria-controls="group3" role="tab" data-toggle="tab">Achievement badge</a>
		</li>
    
    <li role="presentation"  [class.active]="currentTab === 4" (click)="tabChanged(4)">
			<a href="#calendar" aria-controls="group4" role="tab" data-toggle="tab">Calendar</a>
		</li>
    
    <li role="presentation"  [class.active]="currentTab === 5" (click)="tabChanged(5)">
			<a href="#filterContent" aria-controls="group5" role="tab" data-toggle="tab">Filter Content</a>
		</li>
	</ul>
	
	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" [class.active]="currentTab === 1" class="tab-pane" id="filtery">
			<div *ngIf="currentTab === 1" class="shell-tab">
        <oib-filtery></oib-filtery>
			</div>
		</div>
    
		<div role="tabpanel" [class.active]="currentTab === 2" class="tab-pane" id="histOrga">
			<div *ngIf="currentTab === 2" class="shell-tab">
        <oib-organigram-playground></oib-organigram-playground>
			</div>
		</div>
    
    <div role="tabpanel" [class.active]="currentTab === 3" class="tab-pane" id="achievementBadge">
			<div *ngIf="currentTab === 3" class="shell-tab achievement-badges">
        <oib-achievement-badges></oib-achievement-badges>
			</div>
		</div>
    
    <div role="tabpanel" [class.active]="currentTab === 4" class="tab-pane" id="calendar">
      <div *ngIf="currentTab === 4" class="shell-tab">
        <oib-calendar-playground></oib-calendar-playground>
	    </div>
	  </div>
    
    <div role="tabpanel" [class.active]="currentTab === 5" class="tab-pane" id="filterContent">
      <div *ngIf="currentTab === 5" class="shell-tab">
        <oib-filter-content-playground></oib-filter-content-playground>
	    </div>
	  </div>
</div>