.shell {
	background: #f7f7f7;
	margin: 30px;
	border: solid 1px #ddd;
	border-radius: 2px;
	padding: 20px;
}

.shell .shell-tab {
	padding: 20px;
	background: #fff;
	border: solid 1px #ddd;
	border-top: none;
}
