<div class="filtery">
  <div class="filtery-header">Filtery</div>

  <filter-type
    (onTypeChanged)="typeChanged($event)"
    (onDateChanged)="dateChanged($event)">
    </filter-type>

  <filter-name
    [people]="peopleGroupAutocompletion"
    [disabled]="isFilterNameDisabled"
    (onPatternChanged)="patternChanged($event)">
  </filter-name>

  <filtered-container
    [peopleGroup1]="peopleGroup1"
    [peopleGroup2]="peopleGroup2"
    [peopleGroup3]="peopleGroup3"
    (onTabChanged)="tabFilteryChanged($event)">
  </filtered-container>
 </div>