<div class="filtered-container">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#group1" aria-controls="group1" role="tab" data-toggle="tab" (click)="tabChanged(1)">Group 1</a>
		</li>
		
		<li role="presentation">
			<a href="#group2" aria-controls="group2" role="tab" data-toggle="tab" (click)="tabChanged(2)">Group 2</a>
		</li>
		
		<li role="presentation">
			<a href="#group3" aria-controls="group3" role="tab" data-toggle="tab" (click)="tabChanged(3)">Group 3</a>
		</li>
	</ul>
	
	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="group1">
			<div class="filtered-content">
				<people-list [people]="peopleGroup1"></people-list>
			</div>
		</div>
		
		<div role="tabpanel" class="tab-pane" id="group2">
			<div class="filtered-content">
				<people-list [people]="peopleGroup2"></people-list> 
			</div>
		</div>
		
		<div role="tabpanel" class="tab-pane" id="group3">
			<div class="filtered-content">
				<people-list [people]="peopleGroup3"></people-list>  
			</div>
		</div>
	</div>
</div>