<div class="nurse">
  <div class="date">{{ date }}</div>
  
  <div *ngFor="#nurse of nurses">
    <span class="label" [class.label-success]="nurse.isPresent" [class.label-warning]="!nurse.isPresent" >{{ nurse.fullName }}</span>
  </div>
</div>