.nurse {
  width: 150px;
  height: 120px;
  background: #fdfdfd;
  border: solid 1px #eee;
  margin: 3px;
  padding: 5px;
  border-radius: 2px;
}

.nurse .date {
  color: #aaa;
  font-family: RobotoMedium;
}