<div class="filter-content-playground">
  <div class="description">oib-filter-content</div>
  <div class="tip">Open the console to see useful messages when clicking on an itemxxx</div>
  
  <div class="main-content">
    <oib-filter-content class="filter-content" [items]="doctors" (on-item-selected)="itemSelected($event)" [height]="300">
    </oib-filter-content>
  </div>
</div>