.filter-content-playground {
  display: flex;
  flex-direction: column;
}

.filter-content-playground .description {
  margin: 30px 0 0 60px;
  font-size: 20px;
  color: #6CA0B3;
}

.filter-content-playground .tip {
  margin: 0 0 60px 60px;
  font-size: 15px;
  color: #999;
}

.filter-content-playground .main-content {
  width: 700px;
  margin: 0 auto;
}