.day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin: 3px;
}

.day .day-label {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6CA0B3;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: #fff;
  font-family: RobotoMedium;
}