<div class="calendar-playground">
  <div class="description">Nurses (oib-nurse)</div>

  <oib-calendar [(year)]="yearCalendar1" [(month)]="monthCalendar1" [cell-width]="156">
    <template #day1>
      <oib-nurses [year]="yearCalendar1" [month]="monthCalendar1" [day]="day1"></oib-nurses>
    </template>
  </oib-calendar>
  
  <div class="description">Nurses (oib-nurse display-weekend="false")</div>

  <oib-calendar [(year)]="yearCalendar2" [(month)]="monthCalendar2" [cell-width]="156" [display-weekend]="false">
    <template #day2>
      <oib-nurses [year]="yearCalendar2" [month]="monthCalendar2" [day]="day2"></oib-nurses>
    </template>
  </oib-calendar>
  
  <div class="description">Simple (oib-day)</div>

  <oib-calendar [(year)]="yearCalendar3" [(month)]="monthCalendar3" [cell-width]="86">
    <template #day3>
      <oib-day [year]="yearCalendar3" [month]="monthCalendar3" [day]="day3"></oib-day>
    </template>
  </oib-calendar>
</div>