.filter-content {
  cursor: pointer;
}

.filter-content .search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.filter-content .input-group {
  width: 300px;
  margin-bottom: 20px;
}

.filter-content .container {
  width: 100%;
  margin: 0;
  overflow-y: auto;
}

.filter-content .item {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px #ddd;
  padding: 10px;
}

.filter-content .container .item .main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filter-content .item:last-child {
  border-bottom: none;
}

.filter-content .item:hover {
  background: #fafafa;
}

.filter-content .item:active {
  background: #eee;
}

.filter-content .item .type {
  color: #599EDC;
  font-size: 12px;
  width: 150px;
}

.filter-content .item .label {
  color: #666;
  padding: 0;
  font-size: 15px;
  margin-bottom: 7px;
}

.filter-content .item .description {
  color: #999;
  font-size: 13px;
}