<div class="filter-content">
  <div class="search">
    <div class="input-group">
      <input type="text" class="form-control" (input)="filter = $event.target.value" placeholder="Filter" aria-describedby="filter content">
      <span class="input-group-addon"><i class="fa fa-search"></i></span>
    </div>
  </div>
  
  <div class="container" [style.height.px]="height">
    <div *ngFor="#item of items | filterContent: filter" class="item" (click)="itemSelected(item)">
      <div class="type">{{ item.type }}</div>
      
      <div class="main-content">
        <div class="label">{{ item.label }}</div>
        <div class="description">{{ item.description }}</div>
      </div>
    </div>
  </div>
</div>