.filter-type {
	display: flex;
	align-items: center;
	padding: 10px 20px;
	background: #FFC559;
	border: solid 1px #FFB226;
}

.filter-type .type-label {
	margin-right: 30px;
}

.filter-type .form-group {
	width: 150px;
	margin: 0;
}