<div class="calendar">
  <div class="calendar-header">
    <button class="icon-button" (click)="changeMonth(-1)"><div class="fa fa-chevron-left"></div></button>
    
    <div class="header-center">
      <div class="month-label">{{ monthLabel }}</div>
      <div class="year">{{ yearLabel }}</div>
    </div>
    
    <button class="icon-button" (click)="changeMonth(1)"><div class="fa fa-chevron-right"></div></button>
  </div>
  
  <div class="days">
    <div *ngFor="#dayLabel of dayLabels" [style.width.px]="cellWidth">{{ dayLabel }}</div>
  </div>
  
  <div class="calendar-container" [style.width.px]="calendarWidth">
    <div *ngFor="#dummyDay of dummyDays" [style.width.px]="cellWidth"></div>
    
    <div *ngFor="#day of days" *ngForTemplate="day"></div>
  </div>
</div>