.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #555;
}

.calendar button.icon-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border-radius: 50%;
}

.calendar button.icon-button:hover {
  background: #eee;
}

.calendar button.icon-button:active {
  background: #ddd;
}

.calendar button.icon-button .fa-chevron-left {
  position: relative;
  top: 1px;
  left: -1px;
}

.calendar button.icon-button .fa-chevron-right {
  position: relative;
  top: 1px;
  left: 3px;
}

.calendar .calendar-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.calendar .calendar-header .header-center {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar .calendar-header .header-center .month-label {
  font-size: 25px;
}

.calendar .calendar-header .header-center .year {
  font-size: 17px;
  color: #aaa;
}

.calendar .days {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-family: RobotoMedium;
  color: #888;
  margin-bottom: 20px;
}

.calendar .calendar-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}