<div class="filter-name">
	<div class="input-group">
		<input #autocompletion id="autocompletion" type="text" class="form-control" placeholder="Filter"
			[disabled]="disabled"
			(input)="filter(autocompletion.value)"
			(change)="filterAfterSelect()">
		<div class="input-group-addon"><i class="fa fa-search"></i></div>
  </div>
</div>