<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  
  <title>Angular2 in OIB</title>
  
  <base href=".">
  
  <script src="vendor/angular2/bundles/angular2-polyfills.js"></script>
  
  {{content-for 'head'}}
  
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  
  <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
  <link rel="stylesheet" href="/vendor/slider/css/slider.css" />
  
  <link rel="stylesheet" href="index.css" />
</head>
<body>
  <shell>
    <div class="spinner"><i class="fa fa-spinner fa-pulse"></i></div>
  </shell>

  <script src="vendor/systemjs/dist/system.src.js"></script>
  <script src="vendor/rxjs/bundles/Rx.js"></script>
  <script src="vendor/angular2/bundles/angular2.dev.js"></script>
  <script src="vendor/angular2/bundles/http.dev.js"></script>
  <script src="vendor/angular2/bundles/router.dev.js"></script>
  
  <script src="vendor/jquery/dist/jquery.min.js"></script>
  <script src="vendor/moment/min/moment.min.js"></script>
  <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  <script src="vendor/faker/faker.min.js"></script>
  <script src="vendor/autocompletion/autocompletion.min.js"></script>
  <script src="vendor/snapsvg/snap.svg-min.js"></script>
  <script src="vendor/slider/js/bootstrap-slider.js"></script>
  
  <script>
    System.config({
      packages: {
        app: {
          format: 'register',
          defaultExtension: 'js'
        }
      }
    });
    System.import('app.js').then(null, console.error.bind(console));
  </script>
</body>
</html>
