@font-face {
    font-family: "RobotoLight";
    src: url("vendor/roboto/Roboto-Light.ttf")
}

@font-face {
    font-family: "RobotoMedium";
    src: url("vendor/roboto/Roboto-Medium.ttf")
}

html, body {
	height: 100%;
	width: 100%;
  font-family: "RobotoLight";
}

html {
	overflow: hidden;
}

body {
	overflow: auto;
}

button {
  background: none;
  border: none;
}

button:focus {
  outline: none;
}

.spinner {
	font-size: 50px;
	color: orange;
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}