.achievement-badges .slider {
  width: 300px;
}

.achievement-badges .badges {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px 0 20px 0;
  padding: 0;
}

.achievement-badges .badges.dark {
  background: #666;
  padding: 20px 0;
  border-radius: 3px;
}

.achievement-badges .legend {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #777;
}