<div class="achievement-badge">
  <div class="c100 p{{ percentage }} center {{ classes }}">
    <span>{{ percentage }}%</span>
    <div class="slice"><div class="bar"></div><div class="fill"></div></div>
  </div>
</div>