<div class="achievement-badges">
  <input type="text" class="slider" data-slider-min="0" data-slider-max="100" data-slider-step="1">

  <div class="badges">
    <achievement-badge [percentage]="percentage" small></achievement-badge>
  </div>
  
  <div class="legend">
    <div>[percentage]="{{ percentage }}" small</div>
  </div>
  
  <div class="badges">
    <achievement-badge [percentage]="percentage"></achievement-badge>
  </div>
  
  <div class="legend">
    <div>[percentage]="{{ percentage }}"</div>
  </div>
  
  <div class="badges">
    <achievement-badge [percentage]="percentage" big></achievement-badge>
  </div>
  
  <div class="legend">
    <div>[percentage]="{{ percentage }}" big</div>
  </div>
  
  <div class="badges">
    <achievement-badge [percentage]="percentage"></achievement-badge>
    <achievement-badge [percentage]="percentage" green></achievement-badge>
    <achievement-badge [percentage]="percentage" orange></achievement-badge>
  </div>
  
  <div class="legend">
    <div>[percentage]="{{ percentage }}"</div>
    <div>[percentage]="{{ percentage }}" green</div>
    <div>[percentage]="{{ percentage }}" orange</div>
  </div>
  
  <div class="badges dark">
    <achievement-badge [percentage]="percentage" dark></achievement-badge>
    <achievement-badge [percentage]="percentage" green dark></achievement-badge>
    <achievement-badge [percentage]="percentage" orange dark></achievement-badge>
  </div>
  
  <div class="legend">
    <div>[percentage]="{{ percentage }}" dark</div>
    <div>[percentage]="{{ percentage }}" green dark</div>
    <div>[percentage]="{{ percentage }}" orange dark</div>
  </div>
</div>